<!-- <div class="content-detail row">
    <div>
        <mat-card>
            <mat-card-subtitle>Personal information</mat-card-subtitle>
            <mat-card-content>
                <div class="row">
                    <div class="col-6">
                        <p> Name: {{ user?.name }} </p>
                        <p>{{ user?.surname }} </p>
                    </div>
                    <div class="col-6">
                        <p> Lastname: {{ user.lastName }}</p>
                        <p>Identification: {{ user.identification }} </p>
                        <p>Sexo: {{user.genero }}</p>
                    </div>
                </div>

            </mat-card-content>
        </mat-card>
    </div>

    <div>
        <mat-card>
            <mat-card-subtitle>Addres information</mat-card-subtitle>
            gdgddg
        </mat-card>
    </div>

    <div>
        <mat-card>
            <mat-card-subtitle>Profesional information</mat-card-subtitle>
            dggd
        </mat-card>
    </div>
    <div>
        <mat-card>
            <mat-card-subtitle>Patient information</mat-card-subtitle>
            ddggd
        </mat-card>
    </div>
</div> -->